In [33]:
import numpy as np
import pandas as pd

# Reading in the Data

In [2]:
data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Questions (and Answers)

1) How old were the youngest male and female participants in the 1992 Olympics?

In [12]:
youngest_male = data.loc[
    (data['Year'] == 1992)
    & (data['Sex'] == 'M'),
    'Age'
].min()

youngest_female = data.loc[
    (data['Year'] == 1992)
    & (data['Sex'] == 'F'),
    'Age'
].min()

print('Youngest male: {} \nYoungest female: {}'.format(
    youngest_male, youngest_female
))

Youngest male: 11.0
Youngest female: 12.0

2) What was the percentage of male basbetball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal

In [36]:
bball = data.loc[
    (data['Year'] == 2012)
    & (data['Sport'] == 'Basketball')
    & (data['Sex'] == 'M')
]
bball = set(bball['Name'])

males = data.loc[
    (data['Year'] == 2012)
    & (data['Sex'] == 'M')
]
males = set(males['Name'])

print('Share of male bball to all males is {}'.format(
    np.round(len(bball) / len(males) * 100, 1)
))

Share of male bball to all males is 2.5

3) What are the mean and standar deviation of height for female tennis players who participated in the 2000 Olympics?

In [48]:
temp = data.loc[
    (data['Sex'] == 'F')
    & (data['Year'] == 2000)
    & (data['Sport'] == 'Tennis')
]
temp = temp.groupby('Name').first()

mean_height = np.round(temp['Height'].mean(), 1)
std_height = np.round(temp['Height'].std(), 1)

print('Mean: {}\nStd: {}'.format(mean_height, std_height))

Mean: 171.8
Std: 6.6

4) Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [51]:
temp = data.loc[
    (data['Year'] == 2006)
]
print(temp.sort_values('Weight', ascending=False)['Sport'].iloc[0])

Skeleton

5) How many times did John Aalberg participate in the Olympics held in different years?

In [62]:
temp = data.loc[
    (data['Name'] == 'John Aalberg')
]
temp = set(temp['Year'])

print(len(temp))

2

6) How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.

In [66]:
temp = data.loc[
    (data['Team'] == 'Switzerland')
    & (data['Year'] == 2008)
    & (data['Sport'] == 'Tennis')
    & (data['Medal'] == 'Gold')
]

print(len(temp))

2

7) Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in Medal column.

In [69]:
spain = data.loc[
    (data['Team'] == 'Spain')
    & (data['Year'] == 2016)
    & (pd.notnull(data['Medal']))
]

italy = data.loc[
    (data['Team'] == 'Italy')
    & (data['Year'] == 2016)
    & (pd.notnull(data['Medal']))
]

print(len(spain) < len(italy))

True

8) What age category did the fewest and the most participants of the 2008 Olympics belong to?

In [93]:
temp = data.loc[
    (data['Year'] == 2008)
].copy()
temp = temp.groupby('Name').first()

temp['age_category'] = ((temp['Age'] - 5) // 10) * 10 + 5
temp.loc[
    (temp['Age'] == 55),
    'age_category'
] = 45

temp['age_category'].value_counts()

25.0    5373
15.0    4776
35.0     630
45.0      78
5.0       13
55.0       8
65.0       1
Name: age_category, dtype: int64

9) Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?

In [99]:
summer = data.loc[
    (data['Season'] == 'Summer')
]
summer = 'Atlanta' in set(summer['City'])

winter = data.loc[
    (data['Season'] == 'Winter')
]
winter = 'Squaw Valley' in set(winter['City'])

print(summer, winter)

True True

10) What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?

In [107]:
old = data.loc[
    (data['Year'] == 1986),
    'Sport'
].unique()

new = data.loc[
    (data['Year'] == 2002),
    'Sport'
].unique()

print(abs(len(old) - len(new)))

15